:root {
    --background-color: rgba(244,211,94) ;
    --base-color: rgba(238, 150, 075);
    --box-color: rgba(217,217,217);
    --shadow: 10px 5px 20px black;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--background-color);
    height: 100vh;
}

header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    width: auto;
    height: 100px;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: start;
    justify-content: center;
    width: 90vw;
    height: 70%;
    border: 5px solid red;
}

.navbar {
    position: relative;
    width: 15rem;
    height: 100%;
    /* border: 2px solid black; */
    /* background: var(--base-color); */
}

.navbar button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 75px;
    border: none;
    border-radius: 10px;
    z-index: -1;
    left: 10px;
}

.av-shop {
    background-color: var(--base-color);
}

.av-shop,
.chick {
    background: var(--base-color);
    font-size: 2rem;
}

.av-shop:hover,
.chick:hover {
    background: yellow;
}

.shop-zone {
    min-width: 400px;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background: var(--box-color);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.item {
    background: var(--base-color);
    width: auto;
    height: 100px;
    border: 2px solid blue;
    margin: 5px;
}

.item img {
    width: 100px;
    object-fit: cover;
}